body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  background-color: #fcecae !important;
  min-height: 100vh;   
  transition: background-color 1s ease;
  color: #000; 
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
}

.bar {
  margin-left: 1rem;
}

.art {
  margin: 2rem;
  border-radius: 40px;
}

.copyright{
  display: flex;
  justify-content: center;
}

.page {
  width: 60%;
  margin: 0 auto;
  padding-top: 65px;
}

main {
  display:flex;
  align-items:center;
  justify-content: space-between;
}

ul {
  font-family: 'Poppins', sans-serif;
  list-style: none;
  display:flex;
  gap: 48px;
  margin: 0;
  padding: 0;    
}

ul li a {
  opacity: 0.5;
}


ul li a:hover {
  font-weight: bold;
  opacity: 1;
}

a {
  color: #000;
  text-decoration:none;
}

h1 {
  width: 60%;
  font-family: 'Poppins', sans-serif;
  font-size: 48px;
  line-height: 56px;
  color: #1F1534;
  font-weight: normal;
}

h1 span {
  color: #ea485f;
  font-weight: bold;
}

section p {
  font-size: 14px;
  line-height: 28px;
  color: #000;
  margin: 40px 0;
}

button {
  color: white;
  text-transform:uppercase;
  font-family: 'Open Sans', sans-serif;
  background: #ea485f;
  padding: 15px 32px 15px;
  border: 0px;
  border-radius: 40px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

button:hover {
  background: #5aa087;
}

footer {
  font-size:14px;
  line-height:28px;
  text-align: center;
  margin-top: 80px;
}

footer a {
  font-weight:bold;    
}

#balls {
  position: fixed;
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 768px) {
  main {
      display: flex;
      flex-direction: column;
      text-align: center;
  }
  #hero {
      margin: 0;
  }

  .page {
      width: 90%;
      padding-top: 35px;
  }

  h1 {
      font-size: 40px;
      width: auto;
  }

  section {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  section p {
      font-size: 19px;
      line-height: normal;
      width: 90%;

  }

  .art {
    margin-left: 3.2rem;
  }

  button {
      margin: auto;
  }
}

.victim {
  color: #1F1534;
  background-color: #fcecae !important;
  transition: background-color 1s ease;
}

.dark-mode {
  background-color: #1F1534!important;
  color: #fff;
}

.switch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1vh;
  margin-bottom: 2rem;
}

.switch {
  display: inline-block;
  width: 60px;
  height: 34px;
  position: relative;
  background-color: #ccc;
  border-radius: 17px;
  transition: background-color 0.3s ease;
}

.switch:before,
.switch:after {
  content: "";
  position: absolute;
  top: 2px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.switch:before {
  left: 2px;
  background-color: #fff;
}

.switch:after {
  right: 2px;
  background-color: #000;
}

input[type="checkbox"] {
  visibility: hidden;
}

input[type="checkbox"]:checked + .switch:before {
  transform: translateX(26px);
}

input[type="checkbox"]:checked + .switch:after {
  transform: translateX(-26px);
}

input[type="checkbox"]:checked + .switch {
  background-color: #6e6e6e;
}